{% extends 'base.html.twig' %}

{% block title %}Einladung{% endblock %}


{% block covercontent %}
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

    <p class="lead mt-5">
        {{ salutation(invitation) }}  {{ invitation.name }},<br><br>

        wir möchten {{ akkusativ(invitation) }} gerne zu unserer Hochzeit einladen. </p>

    <h2 class="cover-heading mt-5" id="scrollspyHeading1">Wir trauen uns!</h2>
    <div class="text-center">
        <h3 class="h3-line">Wann</h3>
        <p class="lead">28.05.2025 | 16 Uhr</p>

        <h3 class="h3-line">Wo</h3>
        <p class="lead">Trauzimmer Ilsfeld | <a href="https://maps.app.goo.gl/bQnSK9Wvxk51FV4m9"
                                                target="_blank">Anfahrt</a>
        </p>

        <h3 class="h3-line">Ablauf</h3>
        <p class="lead">Wir starten um 16 Uhr mit der standesamtlichen Trauung, die ca. 1h dauert und freuen uns, danach
            mit {{ dativ(invitation) }} auf dem Platz davor mit Sekt, Bier und Co. anzustossen.</p>

        {% if invitation.isfamily %}
        <h3 class="h3-line">Restaurant</h3>
        <p class="lead">
            Landhaus Holy | <a href="https://maps.app.goo.gl/dbJNegoksLFi8w5U7" target="_blank">Anfahrt</a><br><br>
            Im <a href="https://www.landhaus-hohly.de/home.html" target="_blank">Landhaus Holy</a> wollen wir
            mit Euch lecker essen und den Abend mit Euch ausklingen lassen.
        </p>

    </div>

    <h2 id="scrollspyHeading2" class="mt-5">Zusage</h2>
    <p class="lead">
        {% include 'flash_messages.html.twig' %}
        {% if form is defined %}
            {{ form_start(form) }}
                {% if form.number_guests_promised is defined %}
                    {{ form_row(form.number_guests_promised) }}
                {% endif %}
                {{ form_row(form.promised) }}
                {{ form_row(form.guest_comment) }}
                <div class="row">
                    <div class="col-12">
                        <div class="float-end">
                            <button type="submit" class="btn btn-primary mt-5">Speichern</button>
                        </div>
                    </div>
                </div>

            {{ form_end(form) }}
        {% endif %}
    </p>

    <h2 id="scrollspyHeading3" class="mt-5">Bilder der Feier hochladen</h2>
    {% if formGallery is defined %}
        {{ form_start(formGallery) }}
        {{ form_row(formGallery.images) }}
        <div class="row">
            <div class="col-12">
                <div class="float-end">
                    <button type="submit" class="btn btn-primary mt-5">Speichern</button>
                </div>
            </div>
        </div>
        {{ form_end(formGallery) }}
    {% endif %}
{% endif %}
</div>
{% endblock %}
