{% extends 'base.html.twig' %}

{% block title %}Einladung{% endblock %}


{% block covercontent %}
    <section class="topfunddeckel-slider topfunddeckel-style">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20220530.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2025<br>Wir trauen uns!</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Das nächste Kapitel unserer Liebesgeschichte: Hochzeit 2025</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20250108.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2025<br>Unsere Eheringe</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Fingerglück für die Ewigkeit: Unsere Ringe, geschmiedet in Stuttgart</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20220816.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2022<br>Unser Haus</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Ein Haus, ein Zuhause – unser nächster Schritt auf dem gemeinsamen Weg</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20210812.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2021<br>Verlobung in Portugal</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Ein Ring, ein Ja, ein Versprechen – aus Portugal mit Liebe</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20210807.jpeg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2021<br>Urlaub in Portugal</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Ein Moment am Meer, eine Liebe für immer – wir in Portugal</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20210802.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2021<br>Jetzt wird gefeiert</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Von nervigen Nachbarn zu genussvollen Momenten – Cheers auf uns!</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20190913.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2019<br>Holland</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Wo der Wind die Wellen küsst, sind wir zuhause – Strandmomente in Holland</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20190907.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2019<br>Holland</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Der Wind trägt unsere Stimmen – und unsere Träume hinaus aufs Meer</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20180913.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2018<br>Holland</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Ein Drink, ein Sonnenuntergang, und wir – Glück pur im Zeecafe</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20150204.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2015<br>Miezbärs</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Mini und Fritzi – zwei kleine Herzen, die unser Zuhause komplett machen</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-inner slide-bg-image"
                         data-background="{{ asset('build/images/slider/20150901.jpg') }}">
                        <div class="container">
                            <div data-swiper-parallax="300" class="slide-title">
                                <h2>2014<br>Wie alles begann</h2>
                            </div>
                            <div data-swiper-parallax="400" class="slide-text">
                                <p>Als alles begann – ein Moment, der unser Leben verändert hat</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <div class="container invitation">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
             tabindex="0">

            <p class="lead mt-5">
                {{ salutation(invitation) }}  {{ invitation.name }},<br><br>

                die schönsten Momente im Leben werden durch die Menschen besonders, die sie mit uns teilen.<br>
                Umso mehr erfüllt es uns mit Freude, {{ akkusativ(invitation) }} an unserer Seite zu wissen, wenn wir den nächsten großen Schritt in unserem gemeinsamen Leben gehen.<br><br>

                Unser Hochzeitstag ist ein Fest der Liebe, des Glücks und der Verbundenheit – und wir können es kaum erwarten, ihn mit {{ dativ(invitation) }} zu feiern!<br><br>
                Hier findest du die wichtigsten Details und das Formular für {{ possessivpronomen(invitation) }} Zusage. Nach der Hochzeit können auf dieser Seite auch Bilder vom Standesamt hochladen werden.</p>


            <h2 id="scrollspyHeading2" class="mt-5">Zusage bitte bis zum 31.03.2025</h2>
            <p class="lead">
                {% include 'flash_messages.html.twig' %}
                {% if form is defined %}
                {{ form_start(form) }}
                {% if form.number_guests_promised is defined %}
                    {{ form_row(form.number_guests_promised) }}
                {% endif %}
                {{ form_row(form.promised) }}
                {{ form_row(form.guest_comment) }}
            <div class="row">
                <div class="col-12">
                    <div class="float-end">
                        {{ dump(abgelaufen) }}
                        <button type="submit" class="btn btn-primary mt-5" {% if abgelaufen %}disabled{% endif %}><i class="fa-regular fa-heart"></i> Speichern
                        </button>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
            {% endif %}
            </p>

            <h2 class="cover-heading mt-5" id="scrollspyHeading1">Wir trauen uns!</h2>
            <div class="text-center">
                <h3 class="h3-line">Wann</h3>
                <p class="lead">28.05.2025 | 16 Uhr</p>

                <h3 class="h3-line">Wo</h3>
                <p class="lead">Trauzimmer Ilsfeld | <a href="https://maps.app.goo.gl/bQnSK9Wvxk51FV4m9"
                                                        target="_blank">Anfahrt</a>
                </p>

                <h3 class="h3-line">Ablauf</h3>
                <p class="lead">Nach der feierlichen Trauung im Standesamt möchten wir diesen besonderen Moment mit einem Sektempfang feiern.
                    Bei prickelnden Getränken und herzlichem Beisammensein stoßen wir auf die Liebe, das Leben und die gemeinsame Zukunft an.</p>
                <p class="lead">
    Im Anschluss ziehen wir uns mit der Familie in eine kleine, intime Runde zurück, um diesen wunderbaren Tag bei einem festlichen Essen ausklingen zu lassen.<br><br>

    Wir hoffen von Herzen, dass du diesen besonderen Tag mit uns teilst und unsere Liebe mit deinem Lächeln, deinen Glückwünschen und deiner Anwesenheit bereicherst.
                    Gemeinsam machen wir diesen Tag unvergesslich!
                    <br><br>
    Mit lieben Grüßen und voller Vorfreude,<br>
    Susanna & Dennis
</p>
                {% if invitation.isfamily %}
                    <h3 class="h3-line">Restaurant</h3>
                    <p class="lead">
                        Landhaus Holy | <a href="https://maps.app.goo.gl/dbJNegoksLFi8w5U7"
                                           target="_blank">Anfahrt</a><br><br>
                        Im <a href="https://www.landhaus-hohly.de/home.html" target="_blank">Landhaus Holy</a> wollen wir
                        mit Euch lecker essen und den Abend ausklingen lassen.
                    </p>
                {% endif %}
            </div>

            {% if date("2025-05-28 00:00:01.000000")|date('m/d/Y')  <= 'now'|date('m/d/Y') %}
                <h2 id="scrollspyHeading3" class="mt-5">Bilder der Feier hochladen</h2>
                {% if formGallery is defined %}
                    {{ form_start(formGallery) }}
                    {{ form_row(formGallery.images) }}
                    <div class="row">
                        <div class="col-12">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary mt-5">Speichern</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(formGallery) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
